<hr>
<footer>
    <span>
        <div class="float-right">
        </div>
        <div class="float-left">
            ElCamilet &copy; 2013
        </div>
        <div class="clearfix">
        </div>
    </span>
<footer>