<cap>
<% if( session.authenticated ) { %>
<ul class="nav navbar-nav navbar-right">
	<li><a href="/user/<%= session.user.id %>"><%= session.user.email %></a></li>
	<li>
		<form class="navbar-form" action="/user/logout" method="POST">
			<button type="submit" class="btn btn-danger" title="<%= __('Logout')%>">
				<%= __('Logout')%>
				<span class="glyphicon glyphicon-log-out"></span>
			</button>
		</form>
	</li>
</ul>
<% } else { %>
<ul class="nav navbar-nav navbar-right">
	<li><a href="/user/new"><span class="glyphicon glyphicon-edit"></span> Sign up</a></li>
	<li><a href="/user/auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
<% } %>
</cap>