<cos>

<section id="section1">
    <span>
        <%- partial('sections/about')%>
    </span>
</section>
<section id="section2">
    <span>
        <%- partial('sections/blog')%>
    </span>
    <span>
        <%- partial('sections/chat')%>
    </span>
    <div class="clearfix"></div>
</section>

</cos>