<ol class="breadcrumb">
	<li><a href="/"><%= __('Home') %></a></li>
	<li><a href="/user/"><%= __('Users') %></a></li>
	<li class="active"><%= __('Auth user') %></li>
</ol>

<h1> HOLA EVENTO DE <%= session.user.nick %> </h1>
