<ol class="breadcrumb">
	<li><a href="/"><%= __('Home') %></a></li>
	<li><a href="/user/"><%= __('Users') %></a></li>
	<li class="active"><%= session.user.nick %></li>
</ol>

<h2>Aqui es creen els Events del usuari: <%= session.user.nick %></h2>